{{- /* Console screenshot framed as an app panel.
       {{< shot src="/img/foo.png" url="console.deploys.app/…" alt="…" caption="…" >}} */ -}}
{{- $src := .Get "src" -}}
{{- $url := .Get "url" | default "console.deploys.app" -}}
{{- $cap := .Get "caption" -}}
<figure class="shot"><div class="shot-frame"><div class="shot-chrome"><span class="shot-dots"><i></i><i></i><i></i></span><span class="shot-url">{{ $url }}</span></div><img src="{{ $src }}" alt="{{ .Get `alt` }}" loading="lazy"></div>{{ with $cap }}<figcaption class="shot-caption">{{ . | markdownify }}</figcaption>{{ end }}</figure>
